<HTML>
	<head>
		<title>Administration | Login</title>
	</head>
	
	<body>
		<center>
			<img src="content/switch.jpg"></img></br></br>
			
			{% if error is defined %}
			<table>
				<tr>
					<td>
						<img src="content/caution.png" width="64" height="64"></img>
					</td>
					<td>
						{{ error }}</br></br>
					</td>
				</tr>
			</table>
			{% endif %}
			<form name="input" action="admin" method="post">
				<table>
					<tr>
						<td>
							Username: 
						</td>
						<td>
							<input type="text" name="username">
						</td>
					</tr>
					<tr>
						<td>
							Password: 
						</td>
						<td>
							<input type="password" name="password">
						</td>
					</tr>
				</table>
				<input type="submit" value="Login">
			</form>
		</center>
	</body>
</HTML>
