<HTML>
	<head>
		<title>Administration</title>
	</head>
	
	<body>
		<center>
			<img src="content/switch.jpg"></img></br></br>
			
			<form name="input" action="form" method="post">
				<table>
					<tr>
						<td>
							Username: 
						</td>
						<td>
							<input type="text" name="user">
						</td>
					</tr>
					<tr>
						<td>
							Password: 
						</td>
						<td>
							<input type="password" name="password">
						</td>
					</tr>
				</table>
				<input type="submit" value="Login">
			</form>
		</center>
	</body>
</HTML>